.asin-box {
  padding: 10px;
  margin: 0px 0px 10px;
}
.asin-image {
  float: left;
  max-width: 100%;
  padding: 10px 5px;
  margin: 0px;
  border: solid #626262 1px;
}
.asin-text {
  overflow: hidden;
  padding: 0px 10px;
  margin: 0px;
}
.asin-metadata {
  clear: both;
}
