/* Custom config for Mainroad - start */

/* Sidebar */

/* search powred by Lunr.js */
.widget-search-lunr {
	display: block;
	padding: 5%;
	margin: 20px auto;
	background: #f5f5f5;
}

#search-input {
	position: relative;
	display: block;
	width: 90%;
	padding: 8px;
	margin: 0 auto;
	font-size: 11px;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ebebeb;
	border-radius: 0;
	outline-offset: -2px;
	transition: none;
	-webkit-appearance: none;
}

#search-input:active,
#search-input:focus {
	cursor: text;
}

#search-results {
	margin: 5px 10px;
}

#search-lang {
  margin: 0px 10px;
}

#search-lang-en {
  margin: 0px 10px;
}

#search-lang-ja {
  margin: 0px 0px;
}

.card-header {
  font-weight: bold;
}
.card-body {
}

/* RSS widget */
.widget-feed {
	margin: 5px 0px 10px;
	padding: 0px;
	text-align: right;
	overflow: hidden;
}

.widget-feed .feedly,
.widget-feed .rss {
	float: left;
	vertical-align: top;
	margin: 0px;
	padding: 0px;
}

/* Single */

.post__social {
	margin: 0px;
	padding: 0px;
	text-align: right;
	overflow: hidden;
}

.post__social .hatena,
.post__social .twitter,
.post__social .pockets{
	float: right;
  vertical-align: top;
	margin: 0px;
	padding: 0px 2px;
}

.post__amazon_banner_large {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: block;
}

.post__amazon_banner_small {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: none;
}

.addthis_relatedposts_inline {
}

@media screen and (max-width: 620px) {

	.post__amazon_banner_large {
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: none;
	}

	.post__amazon_banner_small {
		margin: 0px;
		padding: 0px;
		text-align: center;
		display: block;
	}
}

@media screen and (max-width: 480px) {
  .photo-container {
    width: 240px;
  }
}

/* Custom config for Mainroad - end */
