{{- $photoid := .Get 0 -}}
{{- $json := index .Site.Data.photo $photoid -}}
{{- $item := $json.SharedPhotoItem -}}
{{- $filename := $item.FileName -}}
{{- $exif := $item.Exif -}}
{{- $baseUri := "https://pxaka.tokyo/nextcloud/index.php/s/" -}}
<div style="width:480px;margin:30px;">
  <div class="photo-content">
    <a href="{{ $baseUri }}{{ $photoid }}">
      <img alt="" width="480" src="{{ $baseUri }}{{ $photoid }}/preview"/></a>
  </div>
  <div class="photo-metadata" style="text-align:right;">
    <p style="fontsize:7pt; color:darkgray; font-family:sans-serif;margin:0px;">
      {{ $exif.CameraModelName }}<br/>
      {{ $exif.LensType }}<br/>
      {{ $exif.FocalLength}}mm f{{ $exif.FNumber }} {{ $exif.ExposureTime }}sec ISO{{ $exif.ISO }}
    </p>
  </div>
  <p></p>
</div>
